 @import '../../sass/mixin.sass';

 .header{
     position: sticky;
     z-index: 100;
     top: 0;
     display: flex;
     justify-content: space-between;
     padding: 8px 20px;;
     background-color: #ffffff;
    box-shadow: 0 5px 8px -9px rgba(0,0,0,.75);
      @include mq(701px){
         padding: 0 20px;
      }
 }
 .header__left{
         display: flex;
         align-items: center;
         justify-content: space-evenly;
 }

 .header__left--input{
              display: none;
            @include mq(lg){
                 display: flex;
                 align-items: center;
                background-color: #eff2f5;
                margin-left: 10px;
                padding: 10px;
                border-radius: 999px;
                min-width: 215px;
            }
}

.header__left--input .searchinput{
                    border: none;
                    outline-width: 0;
                    background-color: transparent;
                    margin-left: 5px;
                    font-size: 14px;
                    width: 100%;
}

.header__left--input .MuiSvgIcon-root{
                    fill: gray;
}
.header__left  .logo{
            height: 40px;
}


.header__left  .searchinput__mob{
            
                display: flex;
                margin-left: 6px;
                padding: 10px;
                background-color: #eff2f5;
                @include mq(lg){
                    display: none;
                }
}

.header__middle{
        display: flex;
        flex: 1;
        justify-content: flex-end;
         @include mq(lg){
            justify-content: center;
         }
}

.header__middle--option{
             display: none;
             @include mq(701px){
                display: flex;
                align-items: center;
                justify-content: center;
                height: 60px;
                cursor: pointer;
                margin-left: 8px;
                min-width: 50px;
             }
             @include mq(lg){
                min-width: 110px;
             }
}

.header__middle--option .MuiSvgIcon-root{
                color: gray;
}
.header__middle--option:first-child {
                    margin-left: 0;
                }
.header__middle--option:hover {
                    align-items: center;
                    border-radius: 10px;
                    border-bottom: none;
                    background-color: #eff2f5;
                }

.header__middle--option:hover .MuiSvgIcon-root{
                    color: #2e81f4;
}
.header__middle--option-active{
                border-bottom: 3px solid #2e81f4;
}

.header__middle--option-active  .MuiSvgIcon-root{
                    color: #2e81f4;
}
.header__middle--option-active:hover{
                    border-bottom: 3px solid #2e81f4;
                    border-radius: 0;
                    background-color: transparent;
}
.header__right{
        display: flex;
        align-items: center;
}

.header__right--info{
             display: none;
             @include mq(ll){
                display: flex;
                align-items: center;
             }
}
.header__right--info  .displayname{
                margin-left: 10px;
                margin-right: 10px;
            
}
.header__right--info .MuiAvatar-root{
                width: 30px;
                height: 30px;
}
.header__right .MuiIconButton-root{
            height: 40px;
            padding: 8px;
            background-color: #E3E6EA;
            margin: 0 3px;
}
.header__right .MuiIconButton-root  .MuiSvgIcon-root{
                color: black;
}

.dad{
   position: relative;
}
.info{
   position: absolute;
   display: none;
   z-index: 999;
   width: 400px;
   height: 400px;
   background-color: #ffffff;
   top: 65px;
   right: 10px;
   padding: 0;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
}
.info__icon{
   width: 92%;
   height: 15%;
   background-color: #ffffff;
   color: black;
   align-items: center;
   justify-content: start;
   cursor: pointer;
   display: flex;
   border: 0px;
   border-radius: 20px;
   margin: 10px;

}
.info__icon:hover{
   background-color: #a6a8ab6e;
}
 strong{
   display: flex;
   justify-content: start;
   color: black;
   width: 70%;
   margin-top: 0;
   font-size: 16px;
   left: -20;

}
.inix{
width: 30%;
justify-content: start;
margin-top: 0;
}
.info__user{
   width: 92%;
   height: 20%;
   background-color: #ffffff;
   color: black;
   align-items: center;
   justify-content: start;
   cursor: pointer;
   display: flex;
   border: 0px;
   border-radius: 20px;
   margin: 10px;

}
.info__user:hover{
   background-color: #a6a8ab6e;
}
.info__user .MuiAvatar-root{
   width: 55px;
   height: 55px;
   margin-left: 23px;
}
.text-user {
      
      justify-content: start;
      color: black;
      width: 70%;
      margin-top: 0;
      font-size: 16px;
      left: -20;
   
   
}
.text-user p{
   margin: 0;
   justify-content: start;
   display: flex;
   font-size: 14px;
   color: gray;
}